<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mifan.article.domain.Attachments">

    <!-- result map -->
    <resultMap id="attachments" type="com.mifan.article.domain.Attachments">
        <id property="id" column="id" javaType="long"/>
        <result property="mime" column="mime" javaType="string"/>
        <result property="filename" column="filename" javaType="string"/>
        <result property="extension" column="extension" javaType="string"/>
        <result property="title" column="title" javaType="string"/>
        <result property="description" column="description" javaType="string"/>
        <result property="extra" column="extra" javaType="string"/>
        <result property="filesize" column="filesize" javaType="int"/>
        <result property="download" column="download" javaType="int"/>
        <result property="retry" column="retry" javaType="int"/>
        <result property="groupId" column="group_id" javaType="int"/>
        <result property="enabled" column="enabled" javaType="int"/>
        <result property="creator" column="creator" javaType="long"/>
        <result property="modifier" column="modifier" javaType="long"/>
        <result property="created" column="created" javaType="date"/>
        <result property="modified" column="modified" javaType="date"/>
    </resultMap>

    <!-- sql -->
    <sql id="columns">
        <choose>
            <when test="fields != null and fields.size != 0">
                <foreach collection="fields" separator="," item="item" index="index">
                    ${item.fullname}
                </foreach>
            </when>
            <otherwise>
                id, mime, filename, extension, title, description, extra, filesize, download, retry, group_id, enabled, creator, modifier, created, modified 
            </otherwise>
        </choose>
    </sql>

    <sql id="insertColumns">
        <trim suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="mime != null">
                mime,
            </if>
            <if test="filename != null">
                filename,
            </if>
            <if test="extension != null">
                extension,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="extra != null">
                extra,
            </if>
            <if test="filesize != null">
                filesize,
            </if>
            <if test="download != null">
                download,
            </if>
            <if test="retry != null">
                retry,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modified != null">
                modified,
            </if>
        </trim>
    </sql>

    <sql id="insertEntityColumns">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                id,
            </if>
            <if test="insert.mime != null">
                mime,
            </if>
            <if test="insert.filename != null">
                filename,
            </if>
            <if test="insert.extension != null">
                extension,
            </if>
            <if test="insert.title != null">
                title,
            </if>
            <if test="insert.description != null">
                description,
            </if>
            <if test="insert.extra != null">
                extra,
            </if>
            <if test="insert.filesize != null">
                filesize,
            </if>
            <if test="insert.download != null">
                download,
            </if>
            <if test="insert.retry != null">
                retry,
            </if>
            <if test="insert.groupId != null">
                group_id,
            </if>
            <if test="insert.enabled != null">
                enabled,
            </if>
            <if test="insert.creator != null">
                creator,
            </if>
            <if test="insert.modifier != null">
                modifier,
            </if>
            <if test="insert.created != null">
                created,
            </if>
            <if test="insert.modified != null">
                modified,
            </if>
        </trim>
    </sql>

    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="mime != null">
                #{mime},
            </if>
            <if test="filename != null">
                #{filename},
            </if>
            <if test="extension != null">
                #{extension},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="extra != null">
                #{extra},
            </if>
            <if test="filesize != null">
                #{filesize},
            </if>
            <if test="download != null">
                #{download},
            </if>
            <if test="retry != null">
                #{retry},
            </if>
            <if test="groupId != null">
                #{groupId},
            </if>
            <if test="enabled != null">
                #{enabled},
            </if>
            <if test="creator != null">
                #{creator},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created != null">
                #{created},
            </if>
            <if test="modified != null">
                #{modified},
            </if>
        </trim>
    </sql>

    <sql id="insertEntityValues">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                #{insert.id},
            </if>
            <if test="insert.mime != null">
                #{insert.mime},
            </if>
            <if test="insert.filename != null">
                #{insert.filename},
            </if>
            <if test="insert.extension != null">
                #{insert.extension},
            </if>
            <if test="insert.title != null">
                #{insert.title},
            </if>
            <if test="insert.description != null">
                #{insert.description},
            </if>
            <if test="insert.extra != null">
                #{insert.extra},
            </if>
            <if test="insert.filesize != null">
                #{insert.filesize},
            </if>
            <if test="insert.download != null">
                #{insert.download},
            </if>
            <if test="insert.retry != null">
                #{insert.retry},
            </if>
            <if test="insert.groupId != null">
                #{insert.groupId},
            </if>
            <if test="insert.enabled != null">
                #{insert.enabled},
            </if>
            <if test="insert.creator != null">
                #{insert.creator},
            </if>
            <if test="insert.modifier != null">
                #{insert.modifier},
            </if>
            <if test="insert.created != null">
                #{insert.created},
            </if>
            <if test="insert.modified != null">
                #{insert.modified},
            </if>
        </trim>
    </sql>

    <sql id="updateValues">
        <trim suffixOverrides=",">
            <if test="mime != null">
                mime = #{mime},
            </if>
            <if test="filename != null">
                filename = #{filename},
            </if>
            <if test="extension != null">
                extension = #{extension},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="extra != null">
                extra = #{extra},
            </if>
            <if test="filesize != null">
                filesize = #{filesize},
            </if>
            <if test="download != null">
                download = #{download},
            </if>
            <if test="retry != null">
                retry = #{retry},
            </if>
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="created != null">
                created = #{created},
            </if>
            <if test="modified != null">
                modified = #{modified},
            </if>
        </trim>
    </sql>

    <sql id="updateValuesByCriterion">
        <trim suffixOverrides=",">
            <if test="entity.mime != null">
                mime = #{entity.mime},
            </if>
            <if test="entity.filename != null">
                filename = #{entity.filename},
            </if>
            <if test="entity.extension != null">
                extension = #{entity.extension},
            </if>
            <if test="entity.title != null">
                title = #{entity.title},
            </if>
            <if test="entity.description != null">
                description = #{entity.description},
            </if>
            <if test="entity.extra != null">
                extra = #{entity.extra},
            </if>
            <if test="entity.filesize != null">
                filesize = #{entity.filesize},
            </if>
            <if test="entity.download != null">
                download = #{entity.download},
            </if>
            <if test="entity.retry != null">
                retry = #{entity.retry},
            </if>
            <if test="entity.groupId != null">
                group_id = #{entity.groupId},
            </if>
            <if test="entity.enabled != null">
                enabled = #{entity.enabled},
            </if>
            <if test="entity.creator != null">
                creator = #{entity.creator},
            </if>
            <if test="entity.modifier != null">
                modifier = #{entity.modifier},
            </if>
            <if test="entity.created != null">
                created = #{entity.created},
            </if>
            <if test="entity.modified != null">
                modified = #{entity.modified},
            </if>
        </trim>
    </sql>

    <sql id="simpleConditions">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="entity.id != null">
                AND id = #{entity.id}
            </if>
            <if test="entity.mime != null">
                AND mime = #{entity.mime}
            </if>
            <if test="entity.filename != null">
                AND filename = #{entity.filename}
            </if>
            <if test="entity.extension != null">
                AND extension = #{entity.extension}
            </if>
            <if test="entity.title != null">
                AND title = #{entity.title}
            </if>
            <if test="entity.description != null">
                AND description = #{entity.description}
            </if>
            <if test="entity.extra != null">
                AND extra = #{entity.extra}
            </if>
            <if test="entity.filesize != null">
                AND filesize = #{entity.filesize}
            </if>
            <if test="entity.download != null">
                AND download = #{entity.download}
            </if>
            <if test="entity.retry != null">
                AND retry = #{entity.retry}
            </if>
            <if test="entity.groupId != null">
                AND group_id = #{entity.groupId}
            </if>
            <if test="entity.enabled != null">
                AND enabled = #{entity.enabled}
            </if>
            <if test="entity.creator != null">
                AND creator = #{entity.creator}
            </if>
            <if test="entity.modifier != null">
                AND modifier = #{entity.modifier}
            </if>
            <if test="entity.created != null">
                AND created = #{entity.created}
            </if>
            <if test="entity.modified != null">
                AND modified = #{entity.modified}
            </if>
        </trim>
    </sql>

    <sql id="sort">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <foreach collection="orders" separator="," item="item" index="index">
                ${item.property} ${item.direction}
            </foreach>
        </trim>
    </sql>

    <sql id="criterion">
        <foreach collection="conditions.tokens" item="item">
            <choose>
                <when test="item.param">#{item.value}</when><otherwise>${item.value}</otherwise>
            </choose>
        </foreach>
    </sql>

    <sql id="limit">
        LIMIT #{offset}, #{pageSize}
    </sql>

    <sql id="relationships">
        <if test="relationships != null">
            <foreach collection="relationships" item="join" index="index">
                ${join.type()} ${join.table()} ON ${join.condition()}
            </foreach>
        </if>
    </sql>

    <!-- insert -->
    <insert id="save" parameterType="com.mifan.article.domain.Attachments" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO attachments(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>)
    </insert>

    <!-- insert into on duplicate -->
    <insert id="insertOnDuplicate" parameterType="com.mifan.article.domain.Attachments" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO attachments(<include refid="insertEntityColumns"/>) VALUES (<include refid="insertEntityValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValuesByCriterion"/>
    </insert>

    <!-- insert into on duplicate -->
    <insert id="saveOrUpdate" parameterType="com.mifan.article.domain.Attachments" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO attachments(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValues"/>
    </insert>

    <!-- delete -->
    <delete id="delete" parameterType="long">
        DELETE FROM attachments WHERE id = #{id}
    </delete>

    <!-- update -->
    <update id="update" parameterType="com.mifan.article.domain.Attachments">
        UPDATE attachments SET <include refid="updateValues"/> WHERE id = #{id}
    </update>

    <update id="updateByCriterion" parameterType="com.mifan.article.domain.Attachments">
        UPDATE attachments SET <include refid="updateValuesByCriterion"/> WHERE id = #{entity.id} AND <include refid="criterion"></include>
    </update>

    <update id="updateByMap" parameterType="map">
        UPDATE attachments
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="increments" index="index" item="item">
                ${item.key} = ${item.key} + #{item.value},
            </foreach>
            <foreach collection="fields" index="index" item="item">
                ${item.key} = #{item.value},
            </foreach>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- select -->
    <select id="findOne" parameterType="map" resultMap="attachments">
        SELECT
        <include refid="columns"></include>
        FROM attachments WHERE id = #{id}
    </select>

    <select id="findOneByObject" parameterType="map" resultMap="attachments">
        SELECT
        <include refid="columns"></include>
        FROM attachments <include refid="simpleConditions"></include>
    </select>

    <select id="findAll" parameterType="map" resultMap="attachments">
        SELECT
        <include refid="columns"></include>
        FROM attachments WHERE ${field} IN
        <foreach collection="ids" open="(" separator="," close=")" index="index" item="item" >
            ${item}
        </foreach>
    </select>

    <select id="findAllByObject" parameterType="map" resultMap="attachments">
        SELECT
        <include refid="columns"></include>
        FROM attachments <include refid="simpleConditions"></include>
    </select>

    <select id="findAllByCriterion" parameterType="map" resultMap="attachments">
        SELECT
        <include refid="columns"></include>
        FROM attachments WHERE <include refid="criterion"></include>
    </select>

    <select id="findPage" parameterType="map" resultMap="attachments">
        SELECT
        <include refid="columns"></include>
        FROM attachments <include refid="simpleConditions"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="findPageByCriterion" parameterType="map" resultMap="attachments">
        SELECT
        <include refid="columns"></include>
        FROM attachments
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM attachments
    </select>

    <select id="countByCondition" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM attachments <include refid="simpleConditions"></include>
    </select>

    <select id="countByCriterion" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM attachments
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include>
    </select>

    <select id="exists" parameterType="long" resultType="long">
        SELECT COUNT(*) FROM attachments WHERE id = #{id}
    </select>

</mapper>