<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mifan.article.domain.HopeTranslate">

    <!-- result map -->
    <resultMap id="hopeTranslate" type="com.mifan.article.domain.HopeTranslate">
        <id property="id" column="id" javaType="long"/>
        <result property="userId" column="user_id" javaType="long"/>
        <result property="extendId" column="extend_id" javaType="long"/>
        <result property="why" column="why" javaType="string"/>
        <result property="votesOptionIds" column="votes_option_ids" javaType="string"/>
        <result property="enabled" column="enabled" javaType="int"/>
        <result property="created" column="created" javaType="date"/>
        <result property="modified" column="modified" javaType="date"/>
    </resultMap>

    <!-- sql -->
    <sql id="columns">
        <choose>
            <when test="fields != null and fields.size != 0">
                <foreach collection="fields" separator="," item="item" index="index">
                    ${item.fullname}
                </foreach>
            </when>
            <otherwise>
                id, user_id, extend_id, why, votes_option_ids, enabled, created, modified 
            </otherwise>
        </choose>
    </sql>

    <sql id="insertColumns">
        <trim suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="extendId != null">
                extend_id,
            </if>
            <if test="why != null">
                why,
            </if>
            <if test="votesOptionIds != null">
                votes_option_ids,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modified != null">
                modified,
            </if>
        </trim>
    </sql>

    <sql id="insertEntityColumns">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                id,
            </if>
            <if test="insert.userId != null">
                user_id,
            </if>
            <if test="insert.extendId != null">
                extend_id,
            </if>
            <if test="insert.why != null">
                why,
            </if>
            <if test="insert.votesOptionIds != null">
                votes_option_ids,
            </if>
            <if test="insert.enabled != null">
                enabled,
            </if>
            <if test="insert.created != null">
                created,
            </if>
            <if test="insert.modified != null">
                modified,
            </if>
        </trim>
    </sql>

    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="extendId != null">
                #{extendId},
            </if>
            <if test="why != null">
                #{why},
            </if>
            <if test="votesOptionIds != null">
                #{votesOptionIds},
            </if>
            <if test="enabled != null">
                #{enabled},
            </if>
            <if test="created != null">
                #{created},
            </if>
            <if test="modified != null">
                #{modified},
            </if>
        </trim>
    </sql>

    <sql id="insertEntityValues">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                #{insert.id},
            </if>
            <if test="insert.userId != null">
                #{insert.userId},
            </if>
            <if test="insert.extendId != null">
                #{insert.extendId},
            </if>
            <if test="insert.why != null">
                #{insert.why},
            </if>
            <if test="insert.votesOptionIds != null">
                #{insert.votesOptionIds},
            </if>
            <if test="insert.enabled != null">
                #{insert.enabled},
            </if>
            <if test="insert.created != null">
                #{insert.created},
            </if>
            <if test="insert.modified != null">
                #{insert.modified},
            </if>
        </trim>
    </sql>

    <sql id="updateValues">
        <trim suffixOverrides=",">
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="extendId != null">
                extend_id = #{extendId},
            </if>
            <if test="why != null">
                why = #{why},
            </if>
            <if test="votesOptionIds != null">
                votes_option_ids = #{votesOptionIds},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="created != null">
                created = #{created},
            </if>
            <if test="modified != null">
                modified = #{modified},
            </if>
        </trim>
    </sql>

    <sql id="updateValuesByCriterion">
        <trim suffixOverrides=",">
            <if test="entity.userId != null">
                user_id = #{entity.userId},
            </if>
            <if test="entity.extendId != null">
                extend_id = #{entity.extendId},
            </if>
            <if test="entity.why != null">
                why = #{entity.why},
            </if>
            <if test="entity.votesOptionIds != null">
                votes_option_ids = #{entity.votesOptionIds},
            </if>
            <if test="entity.enabled != null">
                enabled = #{entity.enabled},
            </if>
            <if test="entity.created != null">
                created = #{entity.created},
            </if>
            <if test="entity.modified != null">
                modified = #{entity.modified},
            </if>
        </trim>
    </sql>

    <sql id="simpleConditions">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="entity.id != null">
                AND id = #{entity.id}
            </if>
            <if test="entity.userId != null">
                AND user_id = #{entity.userId}
            </if>
            <if test="entity.extendId != null">
                AND extend_id = #{entity.extendId}
            </if>
            <if test="entity.why != null">
                AND why = #{entity.why}
            </if>
            <if test="entity.votesOptionIds != null">
                AND votes_option_ids = #{entity.votesOptionIds}
            </if>
            <if test="entity.enabled != null">
                AND enabled = #{entity.enabled}
            </if>
            <if test="entity.created != null">
                AND created = #{entity.created}
            </if>
            <if test="entity.modified != null">
                AND modified = #{entity.modified}
            </if>
        </trim>
    </sql>

    <sql id="sort">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <foreach collection="orders" separator="," item="item" index="index">
                ${item.property} ${item.direction}
            </foreach>
        </trim>
    </sql>

    <sql id="criterion">
        <foreach collection="conditions.tokens" item="item">
            <choose>
                <when test="item.param">#{item.value}</when><otherwise>${item.value}</otherwise>
            </choose>
        </foreach>
    </sql>

    <sql id="limit">
        LIMIT #{offset}, #{pageSize}
    </sql>

    <sql id="relationships">
        <if test="relationships != null">
            <foreach collection="relationships" item="join" index="index">
                ${join.type()} ${join.table()} ON ${join.condition()}
            </foreach>
        </if>
    </sql>

    <!-- insert -->
    <insert id="save" parameterType="com.mifan.article.domain.HopeTranslate" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO hope_translate(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>)
    </insert>

    <!-- insert into on duplicate -->
    <insert id="insertOnDuplicate" parameterType="com.mifan.article.domain.HopeTranslate" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO hope_translate(<include refid="insertEntityColumns"/>) VALUES (<include refid="insertEntityValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValuesByCriterion"/>
    </insert>

    <!-- insert into on duplicate -->
    <insert id="saveOrUpdate" parameterType="com.mifan.article.domain.HopeTranslate" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO hope_translate(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValues"/>
    </insert>

    <!-- delete -->
    <delete id="delete" parameterType="long">
        DELETE FROM hope_translate WHERE id = #{id}
    </delete>

    <!-- update -->
    <update id="update" parameterType="com.mifan.article.domain.HopeTranslate">
        UPDATE hope_translate SET <include refid="updateValues"/> WHERE id = #{id}
    </update>

    <update id="updateByCriterion" parameterType="com.mifan.article.domain.HopeTranslate">
        UPDATE hope_translate SET <include refid="updateValuesByCriterion"/> WHERE id = #{entity.id} AND <include refid="criterion"></include>
    </update>

    <update id="updateByMap" parameterType="map">
        UPDATE hope_translate
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="increments" index="index" item="item">
                ${item.key} = ${item.key} + #{item.value},
            </foreach>
            <foreach collection="fields" index="index" item="item">
                ${item.key} = #{item.value},
            </foreach>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- select -->
    <select id="findOne" parameterType="map" resultMap="hopeTranslate">
        SELECT
        <include refid="columns"></include>
        FROM hope_translate WHERE id = #{id}
    </select>

    <select id="findOneByObject" parameterType="map" resultMap="hopeTranslate">
        SELECT
        <include refid="columns"></include>
        FROM hope_translate <include refid="simpleConditions"></include>
    </select>

    <select id="findAll" parameterType="map" resultMap="hopeTranslate">
        SELECT
        <include refid="columns"></include>
        FROM hope_translate WHERE ${field} IN
        <foreach collection="ids" open="(" separator="," close=")" index="index" item="item" >
            ${item}
        </foreach>
    </select>

    <select id="findAllByObject" parameterType="map" resultMap="hopeTranslate">
        SELECT
        <include refid="columns"></include>
        FROM hope_translate <include refid="simpleConditions"></include>
    </select>

    <select id="findAllByCriterion" parameterType="map" resultMap="hopeTranslate">
        SELECT
        <include refid="columns"></include>
        FROM hope_translate WHERE <include refid="criterion"></include>
    </select>

    <select id="findPage" parameterType="map" resultMap="hopeTranslate">
        SELECT
        <include refid="columns"></include>
        FROM hope_translate <include refid="simpleConditions"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="findPageByCriterion" parameterType="map" resultMap="hopeTranslate">
        SELECT
        <include refid="columns"></include>
        FROM hope_translate
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM hope_translate
    </select>

    <select id="countByCondition" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM hope_translate <include refid="simpleConditions"></include>
    </select>

    <select id="countByCriterion" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM hope_translate
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include>
    </select>

    <select id="exists" parameterType="long" resultType="long">
        SELECT COUNT(*) FROM hope_translate WHERE id = #{id}
    </select>

</mapper>