<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mifan.article.domain.TopicsMp">

    <!-- result map -->
    <resultMap id="topicsMp" type="com.mifan.article.domain.TopicsMp">
        <id property="id" column="id" javaType="long"/>
        <result property="type" column="type" javaType="int"/>
        <result property="topicId" column="topic_id" javaType="long"/>
        <result property="upTimes" column="up_times" javaType="int"/>
        <result property="mpCategoryId" column="mp_category_id" javaType="long"/>
    </resultMap>

    <!-- sql -->
    <sql id="columns">
        <choose>
            <when test="fields != null and fields.size != 0">
                <foreach collection="fields" separator="," item="item" index="index">
                    ${item.fullname}
                </foreach>
            </when>
            <otherwise>
                id, type, topic_id, up_times, mp_category_id 
            </otherwise>
        </choose>
    </sql>

    <sql id="insertColumns">
        <trim suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="topicId != null">
                topic_id,
            </if>
            <if test="upTimes != null">
                up_times,
            </if>
            <if test="mpCategoryId != null">
                mp_category_id,
            </if>
        </trim>
    </sql>

    <sql id="insertEntityColumns">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                id,
            </if>
            <if test="insert.type != null">
                type,
            </if>
            <if test="insert.topicId != null">
                topic_id,
            </if>
            <if test="insert.upTimes != null">
                up_times,
            </if>
            <if test="insert.mpCategoryId != null">
                mp_category_id,
            </if>
        </trim>
    </sql>

    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="topicId != null">
                #{topicId},
            </if>
            <if test="upTimes != null">
                #{upTimes},
            </if>
            <if test="mpCategoryId != null">
                #{mpCategoryId},
            </if>
        </trim>
    </sql>

    <sql id="insertEntityValues">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                #{insert.id},
            </if>
            <if test="insert.type != null">
                #{insert.type},
            </if>
            <if test="insert.topicId != null">
                #{insert.topicId},
            </if>
            <if test="insert.upTimes != null">
                #{insert.upTimes},
            </if>
            <if test="insert.mpCategoryId != null">
                #{insert.mpCategoryId},
            </if>
        </trim>
    </sql>

    <sql id="updateValues">
        <trim suffixOverrides=",">
            <if test="type != null">
                type = #{type},
            </if>
            <if test="topicId != null">
                topic_id = #{topicId},
            </if>
            <if test="upTimes != null">
                up_times = #{upTimes},
            </if>
            <if test="mpCategoryId != null">
                mp_category_id = #{mpCategoryId},
            </if>
        </trim>
    </sql>

    <sql id="updateValuesByCriterion">
        <trim suffixOverrides=",">
            <if test="entity.type != null">
                type = #{entity.type},
            </if>
            <if test="entity.topicId != null">
                topic_id = #{entity.topicId},
            </if>
            <if test="entity.upTimes != null">
                up_times = #{entity.upTimes},
            </if>
            <if test="entity.mpCategoryId != null">
                mp_category_id = #{entity.mpCategoryId},
            </if>
        </trim>
    </sql>

    <sql id="simpleConditions">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="entity.id != null">
                AND id = #{entity.id}
            </if>
            <if test="entity.type != null">
                AND type = #{entity.type}
            </if>
            <if test="entity.topicId != null">
                AND topic_id = #{entity.topicId}
            </if>
            <if test="entity.upTimes != null">
                AND up_times = #{entity.upTimes}
            </if>
            <if test="entity.mpCategoryId != null">
                AND mp_category_id = #{entity.mpCategoryId}
            </if>
        </trim>
    </sql>

    <sql id="sort">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <foreach collection="orders" separator="," item="item" index="index">
                ${item.property} ${item.direction}
            </foreach>
        </trim>
    </sql>

    <sql id="criterion">
        <foreach collection="conditions.tokens" item="item">
            <choose>
                <when test="item.param">#{item.value}</when><otherwise>${item.value}</otherwise>
            </choose>
        </foreach>
    </sql>

    <sql id="limit">
        LIMIT #{offset}, #{pageSize}
    </sql>

    <sql id="relationships">
        <if test="relationships != null">
            <foreach collection="relationships" item="join" index="index">
                ${join.type()} ${join.table()} ON ${join.condition()}
            </foreach>
        </if>
    </sql>

    <!-- insert -->
    <insert id="save" parameterType="com.mifan.article.domain.TopicsMp" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO topics_mp(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>)
    </insert>

    <!-- insert into on duplicate -->
    <insert id="insertOnDuplicate" parameterType="com.mifan.article.domain.TopicsMp" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO topics_mp(<include refid="insertEntityColumns"/>) VALUES (<include refid="insertEntityValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValuesByCriterion"/>
    </insert>

    <!-- insert into on duplicate -->
    <insert id="saveOrUpdate" parameterType="com.mifan.article.domain.TopicsMp" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO topics_mp(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValues"/>
    </insert>

    <!-- delete -->
    <delete id="delete" parameterType="long">
        DELETE FROM topics_mp WHERE id = #{id}
    </delete>

    <!-- update -->
    <update id="update" parameterType="com.mifan.article.domain.TopicsMp">
        UPDATE topics_mp SET <include refid="updateValues"/> WHERE id = #{id}
    </update>

    <update id="updateByCriterion" parameterType="com.mifan.article.domain.TopicsMp">
        UPDATE topics_mp SET <include refid="updateValuesByCriterion"/> WHERE id = #{entity.id} AND <include refid="criterion"></include>
    </update>

    <update id="updateByMap" parameterType="map">
        UPDATE topics_mp
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="increments" index="index" item="item">
                ${item.key} = ${item.key} + #{item.value},
            </foreach>
            <foreach collection="fields" index="index" item="item">
                ${item.key} = #{item.value},
            </foreach>
        </trim>
        WHERE id = #{id}
        <if test="conditions != null">
            AND <include refid="criterion"></include>
        </if>
    </update>

    <!-- select -->
    <select id="findOne" parameterType="map" resultMap="topicsMp">
        SELECT
        <include refid="columns"></include>
        FROM topics_mp WHERE id = #{id}
    </select>

    <select id="findOneByObject" parameterType="map" resultMap="topicsMp">
        SELECT
        <include refid="columns"></include>
        FROM topics_mp <include refid="simpleConditions"></include>
    </select>

    <select id="findOneByCriterion" parameterType="map" resultMap="topicsMp">
        SELECT
        <include refid="columns"></include>
        FROM topics_mp WHERE <include refid="criterion"></include> LIMIT 1
    </select>

    <select id="findAll" parameterType="map" resultMap="topicsMp">
        SELECT
        <include refid="columns"></include>
        FROM topics_mp WHERE ${field} IN
        <foreach collection="ids" open="(" separator="," close=")" index="index" item="item" >
            ${item}
        </foreach>
    </select>

    <select id="findAllByObject" parameterType="map" resultMap="topicsMp">
        SELECT
        <include refid="columns"></include>
        FROM topics_mp <include refid="simpleConditions"></include>
    </select>

    <select id="findAllByCriterion" parameterType="map" resultMap="topicsMp">
        SELECT
        <include refid="columns"></include>
        FROM topics_mp WHERE <include refid="criterion"></include>
    </select>

    <select id="findPage" parameterType="map" resultMap="topicsMp">
        SELECT
        <include refid="columns"></include>
        FROM topics_mp <include refid="simpleConditions"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="findPageByCriterion" parameterType="map" resultMap="topicsMp">
        SELECT
        <include refid="columns"></include>
        FROM topics_mp
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM topics_mp
    </select>

    <select id="countByCondition" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM topics_mp <include refid="simpleConditions"></include>
    </select>

    <select id="countByCriterion" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM topics_mp
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include>
    </select>

    <select id="exists" parameterType="long" resultType="long">
        SELECT COUNT(*) FROM topics_mp WHERE id = #{id}
    </select>

</mapper>