<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mifan.article.domain.VotesOption">

    <!-- result map -->
    <resultMap id="votesOption" type="com.mifan.article.domain.VotesOption">
        <id property="id" column="id" javaType="long"/>
        <result property="voteId" column="vote_id" javaType="long"/>
        <result property="voteOptionText" column="vote_option_text" javaType="string"/>
        <result property="voteOptionCount" column="vote_option_count" javaType="int"/>
        <result property="displayOrder" column="display_order" javaType="int"/>
        <result property="enabled" column="enabled" javaType="int"/>
    </resultMap>

    <!-- sql -->
    <sql id="columns">
        <choose>
            <when test="fields != null and fields.size != 0">
                <foreach collection="fields" separator="," item="item" index="index">
                    ${item.fullname}
                </foreach>
            </when>
            <otherwise>
                id, vote_id, vote_option_text, vote_option_count, display_order, enabled 
            </otherwise>
        </choose>
    </sql>

    <sql id="insertColumns">
        <trim suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="voteId != null">
                vote_id,
            </if>
            <if test="voteOptionText != null">
                vote_option_text,
            </if>
            <if test="voteOptionCount != null">
                vote_option_count,
            </if>
            <if test="displayOrder != null">
                display_order,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
    </sql>

    <sql id="insertEntityColumns">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                id,
            </if>
            <if test="insert.voteId != null">
                vote_id,
            </if>
            <if test="insert.voteOptionText != null">
                vote_option_text,
            </if>
            <if test="insert.voteOptionCount != null">
                vote_option_count,
            </if>
            <if test="insert.displayOrder != null">
                display_order,
            </if>
            <if test="insert.enabled != null">
                enabled,
            </if>
        </trim>
    </sql>

    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="voteId != null">
                #{voteId},
            </if>
            <if test="voteOptionText != null">
                #{voteOptionText},
            </if>
            <if test="voteOptionCount != null">
                #{voteOptionCount},
            </if>
            <if test="displayOrder != null">
                #{displayOrder},
            </if>
            <if test="enabled != null">
                #{enabled},
            </if>
        </trim>
    </sql>

    <sql id="insertEntityValues">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                #{insert.id},
            </if>
            <if test="insert.voteId != null">
                #{insert.voteId},
            </if>
            <if test="insert.voteOptionText != null">
                #{insert.voteOptionText},
            </if>
            <if test="insert.voteOptionCount != null">
                #{insert.voteOptionCount},
            </if>
            <if test="insert.displayOrder != null">
                #{insert.displayOrder},
            </if>
            <if test="insert.enabled != null">
                #{insert.enabled},
            </if>
        </trim>
    </sql>

    <sql id="updateValues">
        <trim suffixOverrides=",">
            <if test="voteId != null">
                vote_id = #{voteId},
            </if>
            <if test="voteOptionText != null">
                vote_option_text = #{voteOptionText},
            </if>
            <if test="voteOptionCount != null">
                vote_option_count = #{voteOptionCount},
            </if>
            <if test="displayOrder != null">
                display_order = #{displayOrder},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
        </trim>
    </sql>

    <sql id="updateValuesByCriterion">
        <trim suffixOverrides=",">
            <if test="entity.voteId != null">
                vote_id = #{entity.voteId},
            </if>
            <if test="entity.voteOptionText != null">
                vote_option_text = #{entity.voteOptionText},
            </if>
            <if test="entity.voteOptionCount != null">
                vote_option_count = #{entity.voteOptionCount},
            </if>
            <if test="entity.displayOrder != null">
                display_order = #{entity.displayOrder},
            </if>
            <if test="entity.enabled != null">
                enabled = #{entity.enabled},
            </if>
        </trim>
    </sql>

    <sql id="simpleConditions">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="entity.id != null">
                AND id = #{entity.id}
            </if>
            <if test="entity.voteId != null">
                AND vote_id = #{entity.voteId}
            </if>
            <if test="entity.voteOptionText != null">
                AND vote_option_text = #{entity.voteOptionText}
            </if>
            <if test="entity.voteOptionCount != null">
                AND vote_option_count = #{entity.voteOptionCount}
            </if>
            <if test="entity.displayOrder != null">
                AND display_order = #{entity.displayOrder}
            </if>
            <if test="entity.enabled != null">
                AND enabled = #{entity.enabled}
            </if>
        </trim>
    </sql>

    <sql id="sort">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <foreach collection="orders" separator="," item="item" index="index">
                ${item.property} ${item.direction}
            </foreach>
        </trim>
    </sql>

    <sql id="criterion">
        <foreach collection="conditions.tokens" item="item">
            <choose>
                <when test="item.param">#{item.value}</when><otherwise>${item.value}</otherwise>
            </choose>
        </foreach>
    </sql>

    <sql id="limit">
        LIMIT #{offset}, #{pageSize}
    </sql>

    <sql id="relationships">
        <if test="relationships != null">
            <foreach collection="relationships" item="join" index="index">
                ${join.type()} ${join.table()} ON ${join.condition()}
            </foreach>
        </if>
    </sql>

    <!-- insert -->
    <insert id="save" parameterType="com.mifan.article.domain.VotesOption" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO votes_option(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>)
    </insert>

    <!-- insert into on duplicate -->
    <insert id="insertOnDuplicate" parameterType="com.mifan.article.domain.VotesOption" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO votes_option(<include refid="insertEntityColumns"/>) VALUES (<include refid="insertEntityValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValuesByCriterion"/>
    </insert>

    <!-- insert into on duplicate -->
    <insert id="saveOrUpdate" parameterType="com.mifan.article.domain.VotesOption" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO votes_option(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValues"/>
    </insert>

    <!-- delete -->
    <delete id="delete" parameterType="long">
        DELETE FROM votes_option WHERE id = #{id}
    </delete>

    <!-- update -->
    <update id="update" parameterType="com.mifan.article.domain.VotesOption">
        UPDATE votes_option SET <include refid="updateValues"/> WHERE id = #{id}
    </update>

    <update id="updateByCriterion" parameterType="com.mifan.article.domain.VotesOption">
        UPDATE votes_option SET <include refid="updateValuesByCriterion"/> WHERE id = #{entity.id} AND <include refid="criterion"></include>
    </update>

    <update id="updateByMap" parameterType="map">
        UPDATE votes_option
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="increments" index="index" item="item">
                ${item.key} = ${item.key} + #{item.value},
            </foreach>
            <foreach collection="fields" index="index" item="item">
                ${item.key} = #{item.value},
            </foreach>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- select -->
    <select id="findOne" parameterType="map" resultMap="votesOption">
        SELECT
        <include refid="columns"></include>
        FROM votes_option WHERE id = #{id}
    </select>

    <select id="findOneByObject" parameterType="map" resultMap="votesOption">
        SELECT
        <include refid="columns"></include>
        FROM votes_option <include refid="simpleConditions"></include>
    </select>

    <select id="findAll" parameterType="map" resultMap="votesOption">
        SELECT
        <include refid="columns"></include>
        FROM votes_option WHERE ${field} IN
        <foreach collection="ids" open="(" separator="," close=")" index="index" item="item" >
            ${item}
        </foreach>
    </select>

    <select id="findAllByObject" parameterType="map" resultMap="votesOption">
        SELECT
        <include refid="columns"></include>
        FROM votes_option <include refid="simpleConditions"></include>
    </select>

    <select id="findAllByCriterion" parameterType="map" resultMap="votesOption">
        SELECT
        <include refid="columns"></include>
        FROM votes_option WHERE <include refid="criterion"></include>
    </select>

    <select id="findPage" parameterType="map" resultMap="votesOption">
        SELECT
        <include refid="columns"></include>
        FROM votes_option <include refid="simpleConditions"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="findPageByCriterion" parameterType="map" resultMap="votesOption">
        SELECT
        <include refid="columns"></include>
        FROM votes_option
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM votes_option
    </select>

    <select id="countByCondition" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM votes_option <include refid="simpleConditions"></include>
    </select>

    <select id="countByCriterion" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM votes_option
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include>
    </select>

    <select id="exists" parameterType="long" resultType="long">
        SELECT COUNT(*) FROM votes_option WHERE id = #{id}
    </select>

</mapper>